h1{color: rgb(11, 11, 94);margin-bottom: 60px;}
h2{color:rgb(13, 13, 128)}
body{margin-left: 30px;font-family: Verdana, Geneva, Tahoma, sans-serif;background-image:url("back.jpg");background-color: #ffffff07; background-size:contain;}
footer{font-style: italic;color: cadetblue;}
.imgpadrao {width: 1400px;}